.info{
	$line-normal : 1.34; // 지역변수
	font-size : 15px;
	line-height : $line-normal;
	text-align : right;
    span{
            line-height : $line-normal;
        }
}

// step 1
// .one 변수를 찾을 수가 없어서 에러뿜음 -> 컴파일 X
// .one {
//     $size: 12px;
//     line-height: $line-normal;
// }

// step 2
// Q. 그럼 다른 지역변수에서 변수명 같게 선언해도되나요?
// A. Yes.

// .two {
//     $size: 14px;
//     font-size: $size;
// }

// step 3
// 지역변수를 강제로 전역변수로 만드는 것은 안좋은 코딩습관!
// .one {
//     $size: 12px !global; // 권장 X, 그냥 전역으로 선언하는게 좋음
//     font-size: $size;
// }

// .two {
//     $font-size: $size;
// }

// step 4 질의응답
// Q. 8번에서 global 없이도 two에 12px 적용되는데 왜일까요?
// A. .css 파일 지우고 다시 저장하면 컴파일 안되고 에러남!
// .one {
//     $size: 12px;
//     font-size: $size;
// }

// .two {
//     $font-size: $size;
// }