// 코드를 재사용하기 위해 만들어진 기능
// @mixin 이름(매개변수) //생성
// @include 이름(인수)  //사용

// 함수 선언 -> 파선아실
// 파라미터는 선언할 때
// 아규먼트는 실제로 쓸 때

@mixin center-xy{
	display: flex;
	justify-content : center;
	align-items : center;
}

.card{
	@include center-xy; // 정의한 center-xy mixin을 사용하여 코드 한줄이면 끝!
    background: gray;
}

.aside{
	@include center-xy; 
    background: white;
}