.nav {
    background-color: royalblue;
    padding: 20px 50px;
}

.list_nav {
    display: flex;
    justify-content: right;
    gap: 16px;
}

.tit {
    color: white;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color: rgb(45, 45, 73);
}

.nav button {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: 1;
}

.nav button:hover {
    color: rgb(45, 45, 73);
}
